<div *ngFor="let n of this.node.notificationList" class="asset-menu-alert">
  <img src="{{ this.getImage(n) }}" />
  <div class="alert-info">
    <p>{{ this.getName(n.type) }}</p>
    <p *ngIf="n.type === 1">
      {{ n.description }}
    </p>
    <p>
      System: <span>{{ this.node.asset.name }}</span>
    </p>
  </div>
  <p class="timestamp">
    {{ this.timestampToLocale(n.timestamp) }}
  </p>
</div>
<h6 *ngIf="this.node.notificationList.length === 0" class="empty-alerts">
  This node has not been alerted.
</h6>
