<div
  *ngFor="let n of this.node.notificationList"
  class="asset-menu-alert"
  (click)="manageAttackGraph(n.attackStep!)"
>
  <img src="{{ this.getNotificationImage(n) }}" />
  <div class="alert-info">
    <p>{{ this.getName(n.type) }}</p>
    <p>
      <span>{{ this.node.asset.name }}: {{n.attackStep.name}}</span>
    </p>
  </div>
  <p class="timestamp">
    {{ this.timestampToLocale(n.timestamp) }}
  </p>
</div>
<h6 *ngIf="this.node.notificationList.length === 0" class="empty-alerts">
  This node has not been alerted.
</h6>
