@import "../../../styles.scss";

#suggested-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  background-color: $dark;
  color: $white;

  min-width: 360px;

  > *:first-child {
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $border;
  }
}
.actions-container {
  flex-grow: 1;
  min-width: 100%;
  overflow-y: scroll !important;
}

.empty-suggestions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
