<div id="suggested-actions">
  <h2>Suggested Alternatives</h2>
  <div class="actions-header">
    <p>INFORMATION</p>
    <p>WEIGHT</p>
  </div>
  <div class="suggested-actions-list">
    <div
      class="suggested-action"
      *ngFor="let action of suggestedActions; let i = index"
      [ngClass]="{
        selected: action.performed
      }"
      (click)="this.selectAction(i, action.iteration)"
    >
      <div class="suggested-action-information">
        <div class="suggested-action-img">
          <img src="{{ action.image }}" />
        </div>

        <div class="suggested-action-main">
          <div class="suggested-action-description">
            <p>
              <span>{{ action.description }}</span>
            </p>
            <div class="suggested-action-systems">
              Systems: <span>{{ action.systems }}</span>
            </div>
          </div>
          <div class="suggested-action-agents">
            <div *ngFor="let agent of action.agents">
              <span>{{ agent.name }}</span>
              <span class="dots"></span>
              <span>{{ agent.weight }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h6 *ngIf="suggestedActions.length === 0" class="empty-suggestions">
    No alternatives suggested
  </h6>
</div>
