@import "../../../styles.scss";

#suggested-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  background-color: $dark;
  color: $white;

  min-width: 360px;

  h2 {
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .actions-header {
    width: calc(100% - 32px);
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 16px;

    p {
      flex: 3;
      margin: 0px;
      text-align: left;
      font-weight: bold;
      font-size: 10px;
    }

    p:last-child {
      flex: 1;
      text-align: center;
      font-weight: normal;
      width: 80px;
    }
  }
}

.suggested-actions-list {
  flex: 1;
  min-width: 100%;
  overflow-y: auto !important;
  border-bottom: 1px solid $border;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  margin-bottom: auto;
}

.suggested-action {
  width: 100%;
  padding: 16px 0px;
  display: flex;
  flex-direction: row;
  border: 2px solid transparent;
  border-bottom: 2px solid $border;
  * {
    white-space: normal;
    overflow-wrap: break-word;
  }

  &.selected {
    border: 2px solid $ice;
    background-color: $dark-ice;
  }

  img {
    width: 24px;
    height: 24px;
  }

  p {
    width: 100%;
    margin: 0px;
    font-weight: bold;
  }

  div {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 32px;
  }

  .suggested-action-information {
    flex: 3;
  }

  .suggested-action-reward {
    flex: 1;
    p {
      color: $ice;
      font-size: 16px;
      text-align: center;
    }
  }

  .suggested-action-img {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(100%) invert(1);
    margin: 0px 16px;
  }

  .suggested-action-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-right: 16px;

    .suggested-action-description {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 8px;
      width: 100%;
      span {
        font-size: 13px;
        color: $dark;
        border-radius: 20px;
        background-color: $white;
        padding: 4px 8px;
        max-width: 100%;
        display: inline-block;
      }
    }

    .suggested-action-agents {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      width: 100%;
      font-size: 12px;
      font-weight: bold;

      div {
        display: flex;
        width: 100%;
        gap: 8px;

        span:first-child {
          width: auto;
          word-break: break-word;
          max-width: calc(100% - 40px);
        }

        .dots {
          flex: 1;
          overflow: hidden;
          white-space: nowrap;
          color: gray;
        }

        .dots::before {
          content: "........................................................................................................................................................................................................";
          display: block;
          width: 100%;
          overflow: hidden;
        }

        span:last-child {
          width: 32px;
          color: $ice;
        }
      }
    }
  }
}

.suggested-action:hover {
  background-color: $dark-hover;
  cursor: pointer;
  transition: ease-out 0.1s;
}

.suggested-action.selected:hover {
  background-color: $dark-ice;
  cursor: inherit;
}

.empty-suggestions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
