<div class="card bg-dark">
  <div class="card-header text-center">Suggested Alternatives</div>
  <div class="card-body">
    <div class="actions-container">
      <div class="list-group">
        <button
          *ngFor="let action of suggestedActions"
          class="list-group-item list-group-item-action overflow-y"
          [ngClass]="
            selectedAction === action.stepId ? 'text-bg-primary' : null
          "
          [ngClass]="
            selectedAction && selectedAction !== action.stepId
              ? 'disabled'
              : null
          "
          (click)="selectAction(action.stepId, action.iteration)"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ action.description }}</h5>
          </div>
          <p class="mb-1">
            System: <strong>{{ action.system }}</strong>
          </p>
          <div class="hstack gap-3">
            <span
              *ngFor="let agent of action.agents"
              class="badge text-bg-light"
              >{{ agent }}</span
            >
          </div>
        </button>
      </div>
      <div
        *ngIf="suggestedActions.length === 0"
        class="h-75 d-flex align-items-center justify-content-center"
      >
        <h6>No alternatives suggested</h6>
      </div>
    </div>
  </div>
</div>
