@import "../../../styles.scss";

#suggested-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  background-color: $dark;
  color: $white;

  min-width: 360px;

  h2 {
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .actions-header {
    width: calc(100% - 32px);
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 16px;

    p {
      flex: 3;
      margin: 0px;
      text-align: left;
      font-weight: bold;
      font-size: 10px;
    }

    p:last-child {
      flex: 1;
      text-align: center;
      font-weight: normal;
      width: 80px;
    }
  }
}
.actions-container {
  flex: 1;
  min-width: 100%;
  overflow-y: scroll !important;
  border-top: 1px solid $border;
  display: grid;
}

.empty-suggestions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
