<div id="suggested-actions">
  <h2>Suggested Alternatives</h2>
  <div class="actions-header">
    <p>INFORMATION</p>
    <p>SCORE</p>
  </div>
  <div class="suggested-actions-list">
    <div class="suggested-action">
      <div class="suggested-action-information">
        <div class="suggested-action-img">
          <img src="assets/icons/alert.png" />
        </div>

        <div class="suggested-action-main">
          <span>Agent 1</span>
          <p>Shut off machine</p>
          <p>System: <span>ksnksn</span></p>
        </div>
      </div>

      <div class="suggested-action-reward">
        <p>25</p>
      </div>
    </div>
    <button
      *ngFor="let action of suggestedActions"
      class="list-group-item list-group-item-action overflow-y"
      [ngClass]="selectedAction === action.stepId ? 'text-bg-primary' : null"
      [ngClass]="
        selectedAction && selectedAction !== action.stepId ? 'disabled' : null
      "
      (click)="selectAction(action.stepId, action.iteration)"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ action.description }}</h5>
      </div>
      <p class="mb-1">
        System: <strong>{{ action.system }}</strong>
      </p>
      <div class="hstack gap-3">
        <span *ngFor="let agent of action.agents" class="badge text-bg-light">{{
          agent
        }}</span>
      </div>
    </button>
    <h6 *ngIf="suggestedActions.length === 0" class="empty-suggestions">
      No alternatives suggested
    </h6>
  </div>
</div>
