<section [ngClass]="{ visible: !closed }">
  <div class="exit"><app-cross (click)="this.close()" /></div>
  <h2>{{ node!.asset.name }}: {{ node.asset.type }}</h2>
  <div class="menu-options">
    <p
      [ngClass]="{ selected: openedMenu == AvailableAssetMenus.information }"
      (click)="this.open(AvailableAssetMenus.information)"
    >
      INFORMATION
    </p>
    <p
      [ngClass]="{ selected: openedMenu == AvailableAssetMenus.alerts }"
      (click)="this.open(AvailableAssetMenus.alerts)"
    >
      ALERTS
    </p>
  </div>
  <div class="menu-content">
    <app-asset-menu-information
      *ngIf="openedMenu == AvailableAssetMenus.information"
      [node]="this.node"
      [tyrManager]="this.tyrManager"
    />
    <app-asset-menu-alerts
      *ngIf="openedMenu == AvailableAssetMenus.alerts"
      [node]="this.node"
      [openAttackGraph]="this.openAttackGraphWindow"
    />
  </div>
</section>
