<section [ngClass]="{ visible: !closed }">
  <app-cross (click)="this.close()" />
  <h2>fw1: application</h2>
  <div class="menu-options">
    <p
      [ngClass]="{ selected: this.openedMenu == 'information' }"
      (click)="this.openMenu('information')"
    >
      INFORMATION
    </p>
    <p
      [ngClass]="{ selected: this.openedMenu == 'alerts' }"
      (click)="this.openMenu('alerts')"
    >
      ALERTS
    </p>
  </div>
  <div class="menu-content">
    <app-asset-menu-information *ngIf="this.openedMenu == 'information'" />
    <app-asset-menu-alerts *ngIf="this.openedMenu == 'alerts'" />
  </div>
</section>
