@import "../../../styles.scss";

section {
  height: 100%;
  width: 360px;

  position: absolute;
  top: 0px;
  right: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: $dark;
  color: $white;

  transform: translateX(100%); /* start off-screen */
  opacity: 0;
  visibility: hidden;
  transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s;

  h2 {
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0px;
  }

  h6 {
    font-family: 13px;
  }

  .menu-options {
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $border;

    :first-child {
      border-left: 0px;
    }

    p {
      margin: 0px;
      flex: 1;
      height: 100%;
      font-size: 10px;
      font-weight: normal;
      text-align: center;
      border-left: 1px solid $border;
      border-bottom: 1px solid $border;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    p:hover {
      transition: ease-out 0.1s;
      background-color: $dark-hover;
      cursor: pointer;
    }

    p.selected:hover {
      transition: none;
      background-color: transparent;
      cursor: auto;
    }

    p.selected {
      font-weight: bold;
      text-decoration: underline;
      text-decoration-color: $clementine;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;
      border-bottom: 0px;
    }
  }
}

section.visible {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.menu-content {
  overflow: hidden;
  overflow-y: auto !important;
  flex: 1;
  width: 100%;

  > * {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
