@import "../../../styles.scss";

.cross {
  position: absolute;
  width: 12px;
  height: 12px;
  svg {
    width: 12px;
    height: 12px;
  }

  top: 8px;
  right: 8px;
}

.cross:hover {
  cursor: pointer;
  transition: fill ease-out 0.1s;
  fill: $clementine;
}
