.title {
  font-family: "Cinzel", sans-serif !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #d13d3d;
}

.nav-link {
  color: #fff;
}

.main-container {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    339deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(37, 37, 37) 52%,
    rgb(126, 126, 126) 100%
  );
  overflow-y: scroll;
}

.instance-container {
  height: calc(100vh - 225px);
  border: 1px #68686e solid;
}

.actions-container {
  height: calc(100vh - 225px);
}

.attack-graph-container {
  height: calc(100vh - 225px);
  width: 100%;
  border: 1px #68686e solid;
}

.nav-link {
  color: grey;
}

.nav-underline .nav-link.active {
  color: #ffffff;
}

.tab-pane {
  width: 100%;
}
