<div class="container-fluid main-container p-0" style="height: 100vh">
  <div class="w-100 row g-2 mb-4 pt-2">
    <div class="col-4 p-4">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <button class="nav-link active" aria-current="page">
            Attack graph
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link">Model</button>
        </li>
      </ul>
    </div>
    <div class="col-4 text-center">
      <h1 class="display-2 text-light title">TYR</h1>
    </div>
    <div class="col-4"></div>
  </div>

  <div class="row g-2 px-3" style="height: 100%">
    <div class="col-12">
      <div class="card bg-dark" style="height: 100%">
        <div class="card-body">
          <div class="attack-graph-container">
            <ngx-graph
              layout="dagre"
              [draggingEnabled]="false"
              [layoutSettings]="{
              orientation: 'TB',
              marginX: 5,
              marginY: 5,
              edgePadding: 100,
              rankPadding: 20,
              nodePadding: 5,
              multigraph: true,
              compound: true,
            }"
              [links]="attackLinks"
              [nodes]="attackNodes"
            >
              <ng-template #nodeTemplate let-node>
                <svg:g class="node" ngx-tooltip>
                  <svg:rect
                    [attr.width]="node.dimension.width"
                    [attr.height]="node.dimension.height"
                    [attr.fill]="
                      node.type === 'defense' ? '#4CA6FF' : '#FF4C4C'
                    "
                  />
                  <svg:text
                    alignment-baseline="central"
                    [attr.x]="10"
                    [attr.y]="node.dimension.height / 1.5"
                  >
                    {{ node.label }}
                  </svg:text>
                </svg:g>
              </ng-template>
            </ngx-graph>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4" style="height: 40%">
      <div class="card bg-dark" style="height: 100%">
        <div class="card-body">
          <ag-grid-angular
            style="width: 100%; height: 100%"
            class="ag-theme-alpine-dark"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [rowData]="rowData"
            [animateRows]="true"
            (gridReady)="onGridReady($event)"
          ></ag-grid-angular>
        </div>
      </div>
    </div>
    <div class="col-8" style="height: 40%">
      <div class="card bg-dark" style="height: 100%">
        <div class="card-body">
          <div #networkContainer class="network-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>
