<div class="container-fluid main-container p-3" style="height: 100vh">
  <div class="row g-2 mb-3">
    <div class="col-sm-2 d-flex flex-row align-items-center ps-4">
      <h2 class="text-dark title m-0">TYR DEMO</h2>
    </div>
    <div
      class="col-sm-8 d-flex flex-row align-items-center justify-content-center bg-dark link-container"
    >
      <div
        class="nav nav-fill flex-row nav-underline me-3"
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <button
          class="nav-link active"
          data-bs-toggle="tab"
          data-bs-target="#instance-tab"
          type="button"
          role="tab"
        >
          Instance
        </button>
        <div class="vr mx-4 text-light"></div>
        <button
          class="nav-link"
          data-bs-toggle="tab"
          data-bs-target="#horizon-tab"
          type="button"
          role="tab"
          (click)="attackGraphHorizon.updateAttackGraph()"
        >
          Attack Graph Horizon
        </button>
        <div class="vr mx-4 text-light"></div>
        <button
          class="nav-link"
          data-bs-toggle="tab"
          data-bs-target="#historical-tab"
          type="button"
          role="tab"
          (click)="historicAttackGraph.updateAttackGraph()"
        >
          Historical attack graph
        </button>
      </div>
    </div>
    <div
      class="col-sm-2 d-flex flex-row align-items-center justify-content-center"
    >
      <h3 class="text-primary title ps-2 m-0">
        {{ rewardValue.reward }} points
      </h3>
    </div>
  </div>

  <div class="tab-content px-4" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="instance-tab">
      <div class="row g-2">
        <div class="col-4">
          <app-suggested-actions
            #suggestedActions
            [defenderSuggestions]="defenderSuggestions"
          />
        </div>
        <div class="col-8">
          <app-instance-model
            #instanceModel
            [activeDefenceSteps]="activeDefenceSteps"
            [activeAttackSteps]="activeAttackSteps"
            [attackStepMap]="attackStepMap"
          />
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="horizon-tab">
      <app-attack-graph
        #attackGraphHorizon
        [type]="'horizon'"
        [stage]="stage"
        [allAttackSteps]="allAttackSteps"
        [activeDefenceSteps]="activeDefenceSteps"
        [activeAttackSteps]="activeAttackSteps"
        [attackStepMap]="attackStepMap"
      />
    </div>
    <div class="tab-pane fade" id="historical-tab">
      <app-attack-graph
        #historicAttackGraph
        [type]="'historical'"
        [stage]="stage"
        [allAttackSteps]="allAttackSteps"
        [activeDefenceSteps]="activeDefenceSteps"
        [activeAttackSteps]="activeAttackSteps"
        [attackStepMap]="attackStepMap"
      />
    </div>
  </div>
</div>

<div *ngIf="loading" class="toast-container position-fixed bottom-0 end-0 p-3">
  <div
    class="toast show align-items-center text-bg-primary border-0"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-body d-flex align-items-center">
      <div class="spinner-border me-2" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <span style="font-size: 20px">Updating...</span>
    </div>
  </div>
</div>
