.title {
  font-family: "Cinzel", sans-serif !important;
}

.main-container {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    339deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(37, 37, 37) 52%,
    rgb(126, 126, 126) 100%
  );
  overflow-y: scroll;
}

.link-container {
  border-radius: 10px;
  padding: 10px 25px;
}

.nav {
  width: 100%;
}

.nav-link {
  color: grey;
  font-size: small;
}

.nav-underline .nav-link.active {
  color: #4ca6ff;
}

.tab-pane {
  width: 100%;
}
