<div class="container-fluid main-container p-3" style="height: 100vh">
  <div class="row g-2 mb-3">
    <div class="col-4" style="height: 40px">
      <h2 class="text-dark title ps-2 m-0">TYR DEMO</h2>
    </div>
    <div
      class="col-4 d-flex flex-row align-items-center justify-content-center"
    >
      <div
        class="nav flex-row nav-underline me-3"
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <button
          class="nav-link active"
          data-bs-toggle="tab"
          data-bs-target="#instance-tab"
          type="button"
          role="tab"
        >
          Instance
        </button>
        <div class="vr mx-4 text-light"></div>
        <button
          class="nav-link"
          data-bs-toggle="tab"
          data-bs-target="#attack-graph-tab"
          type="button"
          role="tab"
        >
          Attack Graph
        </button>
      </div>
    </div>
    <div
      class="col-4 d-flex flex-row align-items-center justify-content-center"
    >
      <div *ngIf="loading" class="loader"></div>
      <span *ngIf="loading" class="loading-text">Updating...</span>
    </div>
  </div>

  <div class="tab-content p-4" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="instance-tab">
      <div class="row g-2">
        <div class="col-4">
          <app-suggested-actions
            #suggestedActions
            [currentDefenceSteps]="currentDefenceSteps"
          />
        </div>
        <div class="col-8">
          <app-instance-model
            #instanceModel
            [attackSteps]="attackSteps"
            [currentDefenceSteps]="currentDefenceSteps"
            [currentAttackSteps]="currentAttackSteps"
            [attackStepMap]="attackStepMap"
          />
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="attack-graph-tab">
      <app-attack-graph
        #attackGraph
        [attackSteps]="attackSteps"
        [currentDefenceSteps]="currentDefenceSteps"
        [currentAttackSteps]="currentAttackSteps"
        [attackStepMap]="attackStepMap"
      />
    </div>
  </div>
</div>
