.title {
  font-family: "Cinzel", sans-serif !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #d13d3d;
}

.nav-link {
  color: #fff;
}

.main-container {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    339deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(37, 37, 37) 52%,
    rgb(126, 126, 126) 100%
  );
  overflow-y: scroll;
}

.network-container {
  height: 98%;
  border: 1px rgb(145, 145, 145) solid;
}

.attack-graph-container {
  height: 100%;
  width: 100%;
  border: 1px rgb(145, 145, 145) solid;
}
