.main-container {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    339deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(43, 28, 28, 1) 52%,
    rgba(186, 60, 60, 1) 100%
  );
  overflow-y: scroll;
}

.network-container {
  height: 98%;
  border: 1px rgb(145, 145, 145) solid;
}

.attack-graph-container {
  height: 100%;
  width: 100%;
  border: 1px rgb(145, 145, 145) solid;
}
