@import "../../../styles.scss";
section {
  width: 0px;
  height: 100%;
  background-color: $dark;

  position: relative;

  * {
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* Standard */
  }
}

section.visible {
  width: calc(calc(100vw - 360px) / 2);
  border-left: 2px solid $border;
}

.top-left {
  position: absolute;
  top: 16px;
  left: 32px;
}

.viewname {
  height: 32px;
  width: 192px;

  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 16px;
  margin: auto;

  background-color: $dark;
  border: 2px solid $ice;
  border-radius: 20px;

  cursor: auto;

  img {
    height: 20px;
    width: 20px;
    filter: brightness(100) invert(1);
  }

  p {
    font-family: "Inter";
    font-size: 13px;
    color: $white;
    margin: 0px;
  }
}

.viewname.visible {
  display: flex;
}

.buttons {
  width: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $dark;

    border: 2px solid white;
    border-radius: 100%;
    height: 32px;
    width: 32px;

    img {
      height: 20px;
      width: 20px;
    }
  }

  div.selected {
    border: 2px solid $clementine;
  }

  div:hover {
    cursor: pointer;
    border: 2px solid $clementine;
    transition: ease-out 0.1s;
  }

  div.selected:hover {
    cursor: auto;
    border: 2px solid $clementine;
  }
}

.exit {
  height: 32px;
  width: 32px;

  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;

  top: 16px;
  right: 32px;

  background-color: $dark;
  border: 2px solid #d9d9d9;
  border-radius: 1000px;

  cursor: pointer;

  img {
    height: 20px;
    width: 20px;
    filter: brightness(100) invert(1);
  }
}

.exit:hover {
  border: 2px solid $clementine;
  cursor: pointer;
  transition: fill ease-out 0.1s;
}

.exit.visible {
  display: flex;
}

.options {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $dark;
  border-top: 1px solid $border;

  div {
    position: relative;
  }

  h2 {
    height: 32px;
    width: 100%;
    margin: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $border;
  }

  form {
    margin: 8px 0px;

    .flex {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 16px;
    }

    > div {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 32px;

      label {
        width: 128px;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    width: 256px;
    height: 2px;
    border-radius: 3px;
    outline: none;
    background: linear-gradient(to right, #00e6ff 50%, #343a3e 50%);
  }

  /* Track */
  input[type="range"]::-webkit-slider-runnable-track {
    height: 2px;
    border-radius: 3px;
  }
  input[type="range"]::-moz-range-track {
    height: 2px;
    border-radius: 3px;
  }

  /* Thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: $dark;
    border: 2px solid $ice;
    margin-top: -7px; /* Align thumb with track */
    cursor: grab;
  }
  input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 2px solid $ice;
    border-radius: 50%;
    cursor: grab;
    background-color: $dark;
  }

  div.sliderDiv {
    width: 256px;
  }

  .rangeNumber {
    position: absolute;
    visibility: hidden;
    top: -40px;
    left: calc(50% - 16px);
    width: 32px;
    height: 32px;
    background-color: $dark;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    border: 2px solid $ice;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 10;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: calc(50%);
      margin-left: -6px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $ice;
    }
  }

  input[type="number"] {
    height: 32px;
    width: 64px;
    border-radius: 5px;
    border: 2px solid $ice;
    background-color: $dark;
    text-align: center;
  }

  input[type="number"]:focus {
    border-color: $ice;
    box-shadow: none;
  }
}

.options.visible {
  display: flex;
}
