@import "../../../styles.scss";
section {
  width: 0px;
  height: 100%;
  background-color: $dark;

  position: relative;
}

section.visible {
  width: calc(calc(100vw - 360px) / 2);
  border-left: 2px solid $border;
}

.viewname {
  height: 32px;
  width: 192px;

  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;

  top: 16px;
  left: 32px;
  gap: 16px;
  margin: auto;

  background-color: $dark;
  border: 2px solid $ice;
  border-radius: 20px;

  cursor: auto;

  * {
    user-select: none;
  }

  img {
    height: 20px;
    width: 20px;
    filter: brightness(100) invert(1);
  }

  p {
    font-family: "Inter";
    font-size: 13px;
    color: $white;
    margin: 0px;
  }
}

.viewname.visible {
  display: flex;
}

.exit {
  height: 32px;
  width: 32px;

  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;

  top: 16px;
  right: 32px;

  background-color: $dark;
  border: 2px solid #d9d9d9;
  border-radius: 1000px;

  cursor: pointer;

  img {
    height: 20px;
    width: 20px;
    filter: brightness(100) invert(1);
  }
}

.exit.visible {
  display: flex;
}
