<section
  #graphContainer
  id="graphContainer"
  [ngClass]="{ visible: this.isVisible, extended: canBeExtended }"
  [style.cursor]="this.cursorStyle"
>
  <div class="top-left">
    <div class="viewname" [ngClass]="{ visible: this.isVisible }">
      <img src="assets/icons/network.png" />
      <p>Attack Graph</p>
    </div>
    <div class="buttons">
      <div
        class="forward"
        [ngClass]="{ selected: this.isForward }"
        (click)="this.selectForward()"
        #forward
      >
        <img src="assets/icons/attack-graph/forward.png" />
      </div>
      <div
        class="backward"
        [ngClass]="{ selected: !this.isForward }"
        (click)="this.selectBackwards()"
        #backward
      >
        <img src="assets/icons/attack-graph/backward.png" />
      </div>
    </div>
  </div>
  <div
    class="exit"
    [ngClass]="{ visible: this.isVisible }"
    (click)="this.closeAttackGraph()"
  >
    <app-cross />
  </div>

  <div class="options" [ngClass]="{ visible: this.isVisible }">
    <h2>Attack Graph Building Options</h2>
    <form>
      <div class="flex">
        <label>Depth</label>
        <div class="flex">
          <span>1</span>
          <div class="sliderDiv">
            <input
              #depthSlider
              type="range"
              [min]="1"
              [max]="maxDepth"
              [value]="selectedDepth"
              id="options-steps"
              (input)="updateSliderBackground($event)"
            />
            <div class="rangeNumber" #currentDepthSign>
              {{ this.selectedDepth }}
            </div>
          </div>

          <input
            type="number"
            id="maxDepth"
            name="maxDepth"
            min="2"
            max="10"
            value="{{ this.maxDepth }}"
            (input)="updateMaxDepth($event)"
          />
        </div>
      </div>
    </form>
  </div>
</section>
