<ng-container>
  <app-header [impact]="this.rewardValue.reward" />
  <main>
    <app-suggested-actions
      [ngClass]="{ collapsed: defensesCollapsed, expanded: !defensesCollapsed }"
      #suggestedActions
      [MALManager]="this.MALManager"
      (onSuggestionSelected)="this.addExecutedSuggestionToTimeline($event)"
      (onToggleCollapse)="this.collapseDefenseSuggestions($event)"
    />
    <app-asset-graph
      #assetGraph
      id="assetGraphContainer"
      [onNodeClick]="notifyClick"
      [isVisible]="this.displayAssetGraph"
      (simulationStatusEmitter)="setAlertsInterval()"
    />
    <app-attack-graph
      #attackGraph
      [MALManager]="this.MALManager"
      [canBeExtended]="this.defensesCollapsed"
      [parentCloseAttackGraph]="this.closeAttackGraph"
      (emitter)="updateAttackGraph($event)"
    ></app-attack-graph>
    <aside>
      <app-asset-menu
        #assetMenu
        [MALManager]="this.MALManager"
        [openAttackGraph]="this.openAttackGraph"
      />
    </aside>
  </main>
  <app-timeline
    #timeline
    [MALManager]="this.MALManager"
    [openAssetMenu]="notifyClick"
    [attackGraphMode]="this.isAttackGraphMode()"
    [displayAttackGraph]="this.displayAttackGraph"
  />
</ng-container>
