@import "../../../styles.scss";

* {
  scrollbar-color: $white $dusk;
  scrollbar-width: thin;
}

main {
  height: calc(100vh - 128px - 60px);
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;

  #assetGraphContainer {
    width: 100%;
    height: 100%;
    min-width: 0px;
    min-height: 0px;
    background-color: $asset-graph-background;
  }
}

.expanded {
  margin-left: 0px;
}
.collapsed {
  margin-left: -332px;
}
