@import "../../../styles.scss";

main {
  height: calc(100vh - 128px - 60px);
  display: flex;
  flex-direction: row;
  #assetGraphContainer {
    width: 100%;
    height: 100%;
    min-width: 0px;
    min-height: 0px;
  }
}
