<ng-container>
  <app-header [impact]="this.rewardValue.reward" />
  <main>
    <app-suggested-actions
      #suggestedActions
      (onSuggestionSelected)="this.addExecutedSuggestionToTimeline($event)"
    />
    <app-asset-graph
      #assetGraph
      id="assetGraphContainer"
      [onNodeClick]="notifyClick"
      (simulationStatusEmitter)="setAlertsInterval()"
    />
    <app-attack-graph
      #attackGraph
      [tyrManager]="this.tyrManager"
      (emitter)="updateAttackGraph($event)"
    ></app-attack-graph>
    <aside>
      <app-asset-menu
        #assetMenu
        [tyrManager]="this.tyrManager"
        [openAttackGraph]="this.openAttackGraph"
      />
    </aside>
  </main>
  <app-timeline
    #timeline
    [tyrManager]="this.tyrManager"
    [openAssetMenu]="notifyClick"
    [attackGraphMode]="this.isAttackGraphMode()"
    [displayAttackGraph]="this.displayAttackGraph"
  />
</ng-container>
