@import "../../../styles.scss";

* {
  scrollbar-color: $white $dusk;
  scrollbar-width: thin;
}

main {
  height: calc(100vh - 128px - 60px);
  display: flex;
  flex-direction: row;

  #assetGraphContainer {
    width: 100%;
    height: 100%;
  }
}
