@import "../../../styles.scss";

#graphContainer {
  display: none;
  position: relative;
  width: 0px;
  height: 100%;
  min-width: 0px;
  min-height: 0px;
  align-items: center;
  justify-content: center;
}
#graphContainer.visible {
  display: flex;
  width: 100%;
}
.cursor-pointer {
  cursor: pointer;
}

.loader {
  position: absolute;
  display: block;
  border: 4px solid $white; /* Light grey */
  border-top: 4px solid $clementine; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.viewname {
  height: 32px;
  width: 192px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;

  top: 16px;
  left: 32px;
  gap: 16px;
  margin: auto;

  background-color: $dark;
  border: 2px solid $clementine;
  border-radius: 20px;

  cursor: auto;

  * {
    user-select: none;
  }

  img {
    height: 20px;
    width: 20px;
    filter: brightness(100) invert(1);
  }

  p {
    font-family: "Inter";
    font-size: 13px;
    color: $white;
    margin: 0px;
  }
}
