@import "../../../styles.scss";

#graphContainer {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0px;
  min-height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

.loader {
  position: absolute;
  display: block;
  border: 4px solid $white; /* Light grey */
  border-top: 4px solid $clementine; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
