<div class="general-info-section">
  <div>
    <img
      src="{{ selectAssetImage(this.node) }}"
      (click)="this.MALManager.assetGraphRenderer.moveCameraToNode(this.node)"
    />
    <h3>{{ this.node.asset.name }}</h3>
  </div>
  <div class="status grid">
    <p>Type</p>
    <p>Status</p>
    <div class="divider"></div>
    <p>{{ this.node.asset.type }}</p>
    <p [class]="this.getStatus()">{{ this.getStatus() }}</p>
  </div>
  <div class="cia grid">
    <p>Confidentiality</p>
    <p class="blue">{{ this.node.asset.cia?.confidentiality ?? "?" }}</p>
    <p>Integrity</p>
    <p class="purple">{{ this.node.asset.cia?.integrity ?? "?" }}</p>
    <p>Availability</p>
    <p class="green">{{ this.node.asset.cia?.availability ?? "?" }}</p>
  </div>
</div>
<div class="related-assets-section">
  <h6>Related Assets:</h6>
  <div
    *ngFor="let relatedNode of this.relatedNodes"
    class="related-asset"
    (click)="this.MALManager.assetGraphRenderer.moveCameraToNode(relatedNode)"
    (mouseenter)="this.hoverItem(relatedNode)"
    (mouseleave)="this.unhoverItem()"
  >
    <img src="{{ selectAssetImage(relatedNode) }}" />
    <div>
      <p>{{ relatedNode.asset.name }}</p>
      <p>Type: {{ relatedNode.asset.type }}</p>
    </div>
  </div>
</div>
