@import "../../../styles.scss";

.general-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  gap: 36px;
  font-size: 12px;

  img {
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(1);
  }

  h3 {
    font-size: 14px;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;

    &.status {
      row-gap: 4px;

      :nth-child(-n + 2) {
        font-weight: bold;
      }

      p {
        margin: 0px;
        text-align: center;
      }

      p.active {
        color: $green;
      }

      p.non-active {
        color: $alert;
      }
    }

    &.cia {
      grid-template-columns: repeat(2, max-content);
      row-gap: 4px;
      column-gap: 40px;

      p {
        margin: 0px;
        text-align: left;
        color: $white;
      }

      :nth-child(even) {
        border-radius: 100%;
        font-weight: bold;
        width: 20px;
        height: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .blue {
        background-color: $turquoise;
      }
      .purple {
        background-color: $purple;
      }
      .green {
        background-color: $tall-grass;
      }
    }

    .divider {
      grid-column: 1 / -1;
      height: 1px;
      background: $border;
    }
  }
}

.related-assets-section {
  margin: 20px 16px;
  .related-asset {
    border: 1px solid $border;
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    p {
      font-size: 12px;
      margin: 0px;
    }

    :first-child {
      font-size: 13px;
      font-weight: bold;
    }
  }
}
