@import "../../../styles.scss";

footer {
  width: 100%;
  height: 128px;
  background-color: $dark;
  color: $white;
  border-top: 1px solid $border;
  > *:first-child {
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $border;
  }
}
