@import "../../../styles.scss";

#timeline {
  width: 100%;
  height: 128px;
  background-color: $dark;
  color: $white;

  h2 {
    width: 100%;
    text-align: center;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
  }
}
