@import "../../../styles.scss";

footer {
  width: 100%;
  height: 128px;
  background-color: $dark;
  color: $white;
  border-top: 1px solid $border;
  display: flex;
  flex-direction: column;
  > *:first-child {
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $border;
  }
}

#timeline {
  height: 96px;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: hidden;
}

#timeline-item-list {
  display: flex;

  height: 56px;
  flex-direction: row;
  align-items: left;
  gap: 8px;
}

#timeline-slidebar {
  height: 24px;
}

#slidebar-draggable {
  cursor: grab;
}
