@import "../../../styles.scss";

footer {
  width: 100%;
  height: 128px;
  background-color: $dark;
  color: $white;
  border-top: 1px solid $border;
  display: flex;
  flex-direction: column;
  > *:first-child {
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $border;
  }
}

#timeline {
  flex: 1;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}

#timeline-item-list {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 8px;
  &:first-child {
    margin-left: 24px;
  }
}
