@import "../../../styles.scss";

footer {
  width: 100%;
  height: 128px;
  background-color: $dark;
  color: $white;
  border-top: 1px solid $border;
  display: flex;
  flex-direction: column;
  > *:first-child {
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $border;
  }
}

#timeline {
  height: 96px;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: hidden;
}

#timeline-item-list {
  display: flex;
  margin: 0px 24px;
  height: 56px;
  flex-direction: row;
  align-items: left;
  gap: 8px;
}

#timeline-slidebar {
  height: 24px;
  position: relative;
}

#slidebar-draggable {
  position: absolute;
  z-index: 2;
  cursor: grab;
}

.line {
  position: absolute;
  z-index: 1;
  top: 7px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, $clementine 0%, $border 0%);
}
