/* You can add global styles to this file, and also import other style files */

// ============================== THEME COLORS =====================================
$white: #ffffff;
$dark: #00080d;
$dark-hover: #232323;
$dusk: #00080d;
$border: #343a3e;
$asset-graph-background: #212529;
$clementine: #ffa100;
$warning: #f4c300;
$alert: #e04040;
$alert-target: #e57f7f;
$timeline-alert: #ea6b6b;
$suggestion: #b1f3ff;
$timeline-suggestion: #9fd4f2;
$ice: #00e6ff;
$dark-ice: #00272b;
$green: #37fc00;
$turquoise: #00a7b9;
$tall-grass: #00b985;
$purple: #b900ad;
// =================================================================================
@import "node_modules/bootstrap/scss/bootstrap";

@import "~tippy.js/dist/tippy.css";
@import "~tippy.js/themes/light.css";
@import "~tippy.js/animations/scale.css";

@font-face {
  font-family: "Cinzel";
  src: url(assets/font/Cinzel-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url(assets/font/Inter-VariableFont_opsz_wght.ttf) format("truetype");
}

h1 {
  font-family: "Inter";
  font-size: 24px;
  margin: 0px;
}

h2 {
  font-family: "Inter";
  font-weight: bold;
  font-size: 12px;
  margin: 0px;
}

p {
  font-family: "Inter";
}

.exit:hover {
  cursor: pointer;
  color: $clementine;
  transition: ease-out 0.1s;
  .cross {
    fill: $clementine;
    transition: fill ease-out 0.1s;
  }
}
