/* You can add global styles to this file, and also import other style files */

// ============================== THEME COLORS =====================================
$white: #ffffff;
$dark: #00080d;
$dusk: #00080d;
$clementine: #ffa100;
$alert: #e04040;
$alert-target: #e57f7f;
$controlled: #b1f3ff;
$ice: #00e6ff;
// =================================================================================
@import "node_modules/bootstrap/scss/bootstrap";

@import "~tippy.js/dist/tippy.css";
@import "~tippy.js/themes/light.css";
@import "~tippy.js/animations/scale.css";

@font-face {
  font-family: "Cinzel";
  src: url(assets/font/Cinzel-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url(assets/font/Inter-VariableFont_opsz_wght.ttf) format("truetype");
}

h1 {
  font-family: "Inter";
  font-size: 24px;
}

p {
  font-family: "Inter";
}
