<div class="d-flex justify-content-center">
  <div class="menu-container bg-primary p-2">
    <div class="btn-group-vertical" role="group">
      <button type="button" class="btn btn-primary">
        <i class="bi bi-incognito" style="font-size: 2rem"></i>
      </button>
      <button type="button" class="btn btn-primary">
        <i class="bi bi-diagram-2-fill" style="font-size: 2rem"></i>
      </button>
      <button type="button" class="btn btn-primary">
        <i class="bi bi-list-task" style="font-size: 2rem"></i>
      </button>
    </div>
  </div>
</div>
